.text__small {
  font-size: 1.2rem;
}

.text__medium {
  font-size: 1.4rem;
}

.text__large {
  font-size: 1.6rem;
}

.text__Xlarge {
  font-size: 2rem;
}

.text__normal {
  font-weight: 500;
}

.text__semibold {
  font-weight: 600;
}
.text__bold {
  font-weight: bold;
}
