@import "../../../../styles/varible.scss";

.panel__wrapper {
  display: flex;
  align-items: center;
  gap: 10px;    
}

.panel__username {
  font-weight: bold;
  font-size: 16px;
  color: $tertiary;
}

.panel__role {
  font-weight: 300;
  font-size: 16px;
}

.panel__info {
  display: flex;
  flex-direction: column;
}
