$primary: #00b8c3;
$primary-dark: #28979e;

$tertiary: #9e28b5;
$tertiary-dark: #79198b;

$secondary: #e1251b;
$secondary-dark: #ac1c14;

$gray: #f4f4f4;
$gray-dark: #526069;
$gray-ligth: #e4eaec;
$white: #fff;
$green: #76bc21;

$bg-color: #fbfbfb;

$orange: #ff8300;
$red: #bc2121;

$header-height: 80px;
