@import "../../styles/varible.scss";

.menu__wrapper {
  background-color: $white;
  height: calc(100vh - $header-height);
  max-width: 250px;
}

.menu__item--default {
  display: flex;
  flex-direction: row;
  text-align: left;
}

.menu__item--reverse {
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
}
